$header-height: 80px;
$footer-height: 80px;
$header-color: rgb(24, 61, 95);
$header-text-color: white;
$main-color: cornflowerblue;
$element-color: rgb(33, 179, 33);

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: $main-color;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: $header-height;
    background-color: $header-color;
    color: $header-text-color;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;
        a {
            color: $header-text-color;
            margin-right: 0.5em;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - #{$footer-height} - #{$header-height});
    &.stats {
        flex-direction: column;
        justify-content: flex-start;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30%;
        width: 50%;
        max-width: 400px;
        padding: 5%;
        border-radius: 15px;
        background-color: $element-color;
        &.stats{
            margin-top: 1%;
            padding: 1%;
            height: 30px;
            border-radius: 5px;
        }
        form { 
            width: 90%;
            fieldset {
                display: flex;
                justify-content: space-between;
            }
        }
        .output-container {
            width: 90%;
            margin-top: 5%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            #url-output {  
                flex-grow: 1;
                margin-right: 1%;         
                background-color: rgb(230, 230, 230);
                text-decoration: none;
            }
        }
    }
    #statistics-display {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        padding: 1em;
        width: 50%;
        height: 50%;
        background-color: $header-color;
        border-radius: 5px;
    }
}
footer {
    margin: 0;
    height: $footer-height;
    background-color: $header-color;
}